// main: ./main.scss
.game-screen {
  background: $screen-black;
  padding: 1em;
  border-radius: 20px;
  position: relative;

  @include mq-max(480px) {
    padding: 0.75em 0.25em;
  }
}

.score-board {
  @include mq-max(480px) {
    font-size: 0.8rem;
    margin: 0 0.5em;
  }
}

.score-board,
.game-info,
.lives-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-message {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 1px;
  color: $inky-blue;
  text-shadow: 2px 2px 3px black;

  @include mq-max(480px) {
    font-size: 1.3rem;
  }

  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);

  p {
    margin: 0 1.75em 0.2em;
  }
}

.ctrl-instructions {
  font-size: 0.8rem;
  @include mq-max(480px) {
    font-size: 0.7rem;
  }
}

.get-ready-screen {
  display: none;
}

.pause-screen {
  display: none;
}

.gameover-screen {
  display: none;
}

.game-info {
  margin-top: 10px;
}

.lives-left {
  width: 70px;
  @include mq-max(480px) {
    width: 45px;
    margin-left: 0.5em;
  }
}

.life,
.next-bonus {
  width: 30px;
  height: 30px;

  @include mq-max(480px) {
    width: 20px;
    height: 20px;
  }
}

.next-bonus {
  background: {
    repeat: no-repeat;
    position: center;
    size: contain;
  }
  @include mq-max(480px) {
    margin-right: 0.5em;
  }
}

.bonus-cherry {
  background-image: url(../../media/bonus-cherry.png);
}
