// main: ./main.scss

// color variables
$screen-black: #202020;

$blinky-red: #ff0000;
$pinky-pink: #ffb8ff;
$inky-blue: #00ffff;
$clyde-orange: #ffb851;
$scared-wall-blue: #2121ff;

$door-pill-pink: #ffb8ae;


body {
  margin: 0;
  display: flex;
  justify-content: center;

  font-family: 'Press Start 2P', cursive;
  color: white;
}
