// main: ./main.scss

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 465px;
  border: solid black;
  // background: white;
}

.cell {
  width: 15px;
  height: 15px;
  background-color: $screen-black;
}

.wall {
  box-sizing: border-box;
}

.invisible-wall {
  background-color: lightblue;
}

.border-top {
  border-top: $wall-border;
}

.border-right {
  border-right: $wall-border;
}

.border-bottom {
  border-bottom: $wall-border;
}

.border-left {
  border-left: $wall-border;
}

.pac-dot,
.power-pill,
.door {
  background-color: $door-pill-pink;
}

.pac-dot {
  border: 6px solid $screen-black;
  box-sizing: border-box;
}

.power-pill {
  border: 2px solid $screen-black;
  border-radius: 100%;
  box-sizing: border-box;
}

.door {
  box-sizing: border-box;
  border: {
    color: $screen-black;
    style: solid;
    width: 5px 0;
  }
}
