// main: ./main.scss

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 465px;
  border: solid black;

  @include mq-max(480px) {
    width: 336px;
    height: 372px;
  }
}

.cell {
  width: 15px;
  height: 15px;
  background-color: $screen-black;

  @include mq-max(480px) {
    width: 12px;
    height: 12px;
  }
}

.wall {
  box-sizing: border-box;
}

.invisible-wall {
  // background-color: lightblue;
}

.border-top {
  border-top: $wall-border;
  @include mq-max(480px) {
    border-width: 2px;
  }
}

.border-right {
  border-right: $wall-border;
  @include mq-max(480px) {
    border-width: 2px;
  }
}

.border-bottom {
  border-bottom: $wall-border;
  @include mq-max(480px) {
    border-width: 2px;
  }
}

.border-left {
  border-left: $wall-border;
  @include mq-max(480px) {
    border-width: 2px;
  }
}

.pac-dot,
.power-pill,
.door {
  background-color: $door-pill-pink;
}

.pac-dot {
  border: 6px solid $screen-black;
  box-sizing: border-box;
  @include mq-max(480px) {
    border-width: 5px;
  }
}

.power-pill {
  border: 2px solid $screen-black;
  border-radius: 100%;
  box-sizing: border-box;
  animation: powerpill 2.5s infinite;
}

@keyframes powerpill {
  50% {
    transform: scale(1.15);
    background-color: #eafa8d;
  }
}

.bonus-sq {
  background: {
    repeat: no-repeat;
    position: center;
    size: contain;
  }
}

.door {
  box-sizing: border-box;
  border: {
    color: $screen-black;
    style: solid;
    width: 5px 0;
  }
}
