// main: ./main.scss

.ghost {
  border: none;
  border-radius: 0;
  background-color: $screen-black;
  background: {
    repeat: no-repeat;
    position: center;
    size: contain;
  }
}

.blinky {
  background-image: url(../media/blinky.png);
}

.pinky {
  background-image: url(../media/pinky.png);
}

.inky {
  background-image: url(../media/inky.png);
}

.clyde {
  background-image: url(../media/clyde.png);
}

.frightened-ghost {
  background-image: url(../media/scared-ghost.png);
}

.frightened-ghost-flash {
  background-image: url(../media/scared-ghost-flash.png);
  animation: flash 1s infinite linear;
}

@keyframes flash {
  50% {
    background-image: url(../media/scared-ghost.png);
  }
}
