// main: ./main.scss

.pacman {
    background-color: #ffff00;
    border-radius: 7.5px;
    border: none;
}

.ghost {
  border: none;
}

.blinky {
    background-color: $blinky-red;
}

.pinky {
    background-color: $pinky-pink;
}

.inky {
    background-color: $inky-blue;
}

.clyde {
    background-color: $clyde-orange;
}

.scared-ghost {
    background-color: $scared-wall-blue;
}
