// main: ./main.scss

.pacman {
    background-color: #ffff00;
    border-radius: 7.5px;
    border: none;
}

.blinky {
    background-color: #ff0000;
    border: none;
}

.pinky {
    background-color: #ffb8ff;
    border: none;
}

.inky {
    background-color: #00ffff;
    border: none;
}

.clyde {
    background-color: #ffb851;
    border: none;
}

.scared-ghost {
    background-color: #2121ff;
    border: none;
}
