// main: ./main.scss

// .pacman {
//   background-color: #ffff00;
//   border-radius: 7.5px;
//   border: none;
// }

.pacman {
}

.pacman-top, .pacman-bottom {
  background-color: #ffff00;
  height: 50%;
  width: 100%;
}

.pacman-top {
  border-radius: 10px 10px 0 0;
  -webkit-animation: rotateTop 0.7s infinite linear;
          animation: rotateTop 0.7s infinite linear;
}

.pacman-bottom {
  border-radius: 0 0 10px 10px;
  -webkit-animation: rotateBottom 0.7s infinite linear;
          animation: rotateBottom 0.7s infinite linear;
}

@-webkit-keyframes rotateTop {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}

}

@keyframes rotateTop {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}

}
@-webkit-keyframes rotateBottom {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}
}
@keyframes rotateBottom {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}
}
