// main: ./main.scss
.game-screen {
  background: $screen-black;
  padding: 1em;
  border-radius: 20px;
}

.score-board,
.game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.next-bonus {
  width: 30px;
  height: 30px;
  background: {
    repeat: no-repeat;
    position: center;
    size: contain;
  }
}

.bonus-cherry {
  background-image: url(../media/bonus-cherry.png);
}
