// main: ./main.scss
.game-screen {
  background: $screen-black;
  padding: 1em;
  border-radius: 20px;
  position: relative;
}

.score-board,
.game-info,
.lives-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-message {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 1px;
  color: $inky-blue;
  text-shadow: 2px 2px 3px black;

  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.start-screen {
  // display: none;
}

.get-ready-screen {
  display: none;
}

.pause-screen {
  display: none;
}

.game-info {
  margin-top: 10px;
}

.lives-left {
  width: 70px;
}

.life {
  width: 30px;
  height: 30px;
}

.next-bonus {
  width: 30px;
  height: 30px;
  background: {
    repeat: no-repeat;
    position: center;
    size: contain;
  }
}

.bonus-cherry {
  background-image: url(../media/bonus-cherry.png);
}
