body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

.game-screen {
  background: #202020;
  padding: 1em;
  border-radius: 20px;
}

.score-board, .game-info {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 465px;
  border: solid black;
}

.cell {
  width: 15px;
  height: 15px;
  background-color: #202020;
}

.wall {
  box-sizing: border-box;
}

.border-top {
  border-top: 3px solid #2121ff;
}

.border-right {
  border-right: 3px solid #2121ff;
}

.border-bottom {
  border-bottom: 3px solid #2121ff;
}

.border-left {
  border-left: 3px solid #2121ff;
}

.pac-dot,
.power-pill,
.door {
  background-color: #ffb8ae;
}

.pac-dot {
  border: 6px solid #202020;
  box-sizing: border-box;
}

.power-pill {
  border-radius: 7.5px;
}

.door {
  box-sizing: border-box;
  border-color: #202020;
  border-style: solid;
  border-width: 5px 0;
}

.pacman {
  background-color: #ffff00;
  border-radius: 7.5px;
  border: none;
}

.ghost {
  border: none;
}

.blinky {
  background-color: #ff0000;
}

.pinky {
  background-color: #ffb8ff;
}

.inky {
  background-color: #00ffff;
}

.clyde {
  background-color: #ffb851;
}

.scared-ghost {
  background-color: #2121ff;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 88%;
  margin: 25px auto;
}

.button {
  width: 40px;
  height: 40px;
  border: unset;
  cursor: pointer;
  box-shadow: 2px 2px 4px black;
  text-decoration: none;
  padding: 0;
  font-size: 1rem;
  color: white;
}

.game-btn {
  background-color: #ab3c63;
  border-radius: 100%;
}

.d-btn {
  border-radius: 5%;
  background-color: #313130;
}

.button:hover,
.button:focus {
  border: 2px solid orange;
  outline-style: none;
}

.button:active {
  background-color: gray;
  transform: scale(0.9);
}

.d-pad-container {
  width: 120px;
}

.btn-row1,
.btn-row3 {
  display: flex;
  justify-content: center;
}

.btn-row2 {
  display: flex;
  justify-content: space-between;
}
