body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

.game-screen {
  background: #202020;
  padding: 1em;
  border-radius: 20px;
  position: relative;
}

.score-board,
.game-info,
.lives-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-message {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #00ffff;
  text-shadow: 2px 2px 3px black;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.get-ready-screen {
  display: none;
}

.pause-screen {
  display: none;
}

.gameover-screen {
  display: none;
}

.game-info {
  margin-top: 10px;
}

.lives-left {
  width: 70px;
}

.life {
  width: 30px;
  height: 30px;
}

.next-bonus {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bonus-cherry {
  background-image: url(../media/bonus-cherry.png);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 465px;
  border: solid black;
}

.cell {
  width: 15px;
  height: 15px;
  background-color: #202020;
}

.wall {
  box-sizing: border-box;
}

.border-top {
  border-top: 3px solid #2121ff;
}

.border-right {
  border-right: 3px solid #2121ff;
}

.border-bottom {
  border-bottom: 3px solid #2121ff;
}

.border-left {
  border-left: 3px solid #2121ff;
}

.pac-dot,
.power-pill,
.door {
  background-color: #ffb8ae;
}

.pac-dot {
  border: 6px solid #202020;
  box-sizing: border-box;
}

.power-pill {
  border: 2px solid #202020;
  border-radius: 100%;
  box-sizing: border-box;
}

.bonus-sq {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.door {
  box-sizing: border-box;
  border-color: #202020;
  border-style: solid;
  border-width: 5px 0;
}

.pacman-top,
.pacman-bottom {
  background-color: #ffff00;
  height: 50%;
  width: 100%;
}

.pacman-top {
  border-radius: 100px 100px 0 0;
  transform: rotate(-35deg);
  -webkit-animation: rotateTop 0.7s infinite linear;
  animation: rotateTop 0.7s infinite linear;
}

.pacman-bottom {
  border-radius: 0 0 100px 100px;
  transform: rotate(35deg);
  -webkit-animation: rotateBottom 0.7s infinite linear;
  animation: rotateBottom 0.7s infinite linear;
}

.pacman-facing-left {
  transform: rotate(180deg);
}

.pacman-facing-up {
  transform: rotate(270deg);
}

.pacman-facing-down {
  transform: rotate(90deg);
}

@-webkit-keyframes rotateTop {
  50% {
    transform: rotate(0deg);
  }
}

@keyframes rotateTop {
  50% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes rotateBottom {
  50% {
    transform: rotate(0deg);
  }
}

@keyframes rotateBottom {
  50% {
    transform: rotate(0deg);
  }
}

.ghost {
  border: none;
  border-radius: 0;
  background-color: #202020;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.blinky {
  background-image: url(../media/blinky.png);
}

.pinky {
  background-image: url(../media/pinky.png);
}

.inky {
  background-image: url(../media/inky.png);
}

.clyde {
  background-image: url(../media/clyde.png);
}

.frightened-ghost {
  background-image: url(../media/scared-ghost.png);
}

.frightened-ghost-flash {
  background-image: url(../media/scared-ghost-flash.png);
  animation: flash 1s infinite linear;
}

@keyframes flash {
  50% {
    background-image: url(../media/scared-ghost.png);
  }
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 88%;
  margin: 25px auto;
}

.button {
  width: 40px;
  height: 40px;
  border: unset;
  cursor: pointer;
  box-shadow: 2px 2px 4px black;
  text-decoration: none;
  padding: 0;
  font-size: 1rem;
  color: white;
}

.game-btn {
  background-color: #ab3c63;
  border-radius: 100%;
}

.d-btn {
  border-radius: 5%;
  background-color: #313130;
}

.button:hover,
.button:focus {
  border: 2px solid orange;
  outline-style: none;
}

.button:active {
  background-color: gray;
  transform: scale(0.9);
}

.d-pad-container {
  width: 120px;
}

.btn-row1,
.btn-row3 {
  display: flex;
  justify-content: center;
}

.btn-row2 {
  display: flex;
  justify-content: space-between;
}
