body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

.game-screen {
  background: #202020;
  padding: 1em;
  border-radius: 20px;
  position: relative;
}

@media (max-width: 480px) {
  .game-screen {
    padding: 0.75em 0.25em;
    /* lets us pass content block into mixin */
  }
}

@media (max-width: 480px) {
  .score-board {
    font-size: 0.8rem;
    margin: 0 0.5em;
    /* lets us pass content block into mixin */
  }
}

.score-board,
.game-info,
.lives-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-message {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #00ffff;
  text-shadow: 2px 2px 3px black;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

@media (max-width: 480px) {
  .game-message {
    font-size: 1.3rem;
    /* lets us pass content block into mixin */
  }
}

.get-ready-screen {
  display: none;
}

.pause-screen {
  display: none;
}

.gameover-screen {
  display: none;
}

.game-info {
  margin-top: 10px;
}

.lives-left {
  width: 70px;
}

@media (max-width: 480px) {
  .lives-left {
    width: 45px;
    margin-left: 0.5em;
    /* lets us pass content block into mixin */
  }
}

.life,
.next-bonus {
  width: 30px;
  height: 30px;
}

@media (max-width: 480px) {
  .life,
  .next-bonus {
    width: 20px;
    height: 20px;
    /* lets us pass content block into mixin */
  }
}

.next-bonus {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (max-width: 480px) {
  .next-bonus {
    margin-right: 0.5em;
    /* lets us pass content block into mixin */
  }
}

.bonus-cherry {
  background-image: url(../media/bonus-cherry.png);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 465px;
  border: solid black;
}

@media (max-width: 480px) {
  .grid {
    width: 336px;
    height: 372px;
    /* lets us pass content block into mixin */
  }
}

.cell {
  width: 15px;
  height: 15px;
  background-color: #202020;
}

@media (max-width: 480px) {
  .cell {
    width: 12px;
    height: 12px;
    /* lets us pass content block into mixin */
  }
}

.wall {
  box-sizing: border-box;
}

.border-top {
  border-top: 3px solid #2121ff;
}

@media (max-width: 480px) {
  .border-top {
    border-width: 2px;
    /* lets us pass content block into mixin */
  }
}

.border-right {
  border-right: 3px solid #2121ff;
}

@media (max-width: 480px) {
  .border-right {
    border-width: 2px;
    /* lets us pass content block into mixin */
  }
}

.border-bottom {
  border-bottom: 3px solid #2121ff;
}

@media (max-width: 480px) {
  .border-bottom {
    border-width: 2px;
    /* lets us pass content block into mixin */
  }
}

.border-left {
  border-left: 3px solid #2121ff;
}

@media (max-width: 480px) {
  .border-left {
    border-width: 2px;
    /* lets us pass content block into mixin */
  }
}

.pac-dot,
.power-pill,
.door {
  background-color: #ffb8ae;
}

.pac-dot {
  border: 6px solid #202020;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .pac-dot {
    border-width: 5px;
    /* lets us pass content block into mixin */
  }
}

.power-pill {
  border: 2px solid #202020;
  border-radius: 100%;
  box-sizing: border-box;
  animation: powerpill 2.5s infinite;
}

@keyframes powerpill {
  50% {
    transform: scale(1.15);
    background-color: #eafa8d;
  }
}

.bonus-sq {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.door {
  box-sizing: border-box;
  border-color: #202020;
  border-style: solid;
  border-width: 5px 0;
}

.pacman-top,
.pacman-bottom {
  background-color: #ffff00;
  height: 50%;
  width: 100%;
}

.pacman-top {
  border-radius: 100px 100px 0 0;
  transform: rotate(-35deg);
  -webkit-animation: rotateTop 0.7s infinite linear;
  animation: rotateTop 0.7s infinite linear;
}

.pacman-bottom {
  border-radius: 0 0 100px 100px;
  transform: rotate(35deg);
  -webkit-animation: rotateBottom 0.7s infinite linear;
  animation: rotateBottom 0.7s infinite linear;
}

.pacman-facing-left {
  transform: rotate(180deg);
}

.pacman-facing-up {
  transform: rotate(270deg);
}

.pacman-facing-down {
  transform: rotate(90deg);
}

@-webkit-keyframes rotateTop {
  50% {
    transform: rotate(0deg);
  }
}

@keyframes rotateTop {
  50% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes rotateBottom {
  50% {
    transform: rotate(0deg);
  }
}

@keyframes rotateBottom {
  50% {
    transform: rotate(0deg);
  }
}

.ghost {
  border: none;
  border-radius: 0;
  background-color: #202020;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.blinky {
  background-image: url(../media/blinky.png);
}

.pinky {
  background-image: url(../media/pinky.png);
}

.inky {
  background-image: url(../media/inky.png);
}

.clyde {
  background-image: url(../media/clyde.png);
}

.frightened-ghost {
  background-image: url(../media/scared-ghost.png);
}

.frightened-ghost-flash {
  background-image: url(../media/scared-ghost-flash.png);
  animation: flash 1s infinite linear;
}

@keyframes flash {
  50% {
    background-image: url(../media/scared-ghost.png);
  }
}

.joypad-container {
  border: 1px solid black;
  border-radius: 5px;
  width: 80%;
  margin: 20px auto 0;
  padding: 0.75em;
  background: #d3d3d3;
}

@media (max-width: 480px) {
  .joypad-container {
    margin-top: 10px;
    padding: 0.5em;
    width: 90%;
    /* lets us pass content block into mixin */
  }
}

.btn-container {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #808080;
  background: linear-gradient(to bottom right, #999999, #808080);
}

@media (max-width: 480px) {
  .btn-container {
    padding: 0.5em;
    /* lets us pass content block into mixin */
  }
}

.button {
  width: 35px;
  height: 35px;
  border: unset;
  cursor: pointer;
  box-shadow: 2px 2px 4px black;
  text-decoration: none;
  padding: 0;
  font-size: 1rem;
  color: white;
}

.game-btn {
  width: 40px;
  height: 40px;
  background-color: #ab3c63;
  border-radius: 100%;
}

@media (max-width: 480px) {
  .game-btn {
    width: 35px;
    height: 35px;
    /* lets us pass content block into mixin */
  }
}

.d-btn {
  border-radius: 5%;
  background-color: #313130;
}

.button:hover,
.button:focus {
  border: 2px solid orange;
  outline-style: none;
}

.button:active {
  background-color: gray;
  transform: scale(0.9);
}

.d-pad-container {
  width: 105px;
}

.btn-row1,
.btn-row3 {
  display: flex;
  justify-content: center;
}

.btn-row2 {
  display: flex;
  justify-content: space-between;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mercBoy-logo {
  text-align: center;
  font-family: 'Dela Gothic One', cursive;
  font-size: 1.25rem;
  color: #4d4787;
}
